#cont1{
    background-color: cadetblue;
    width: 10%;
    height: 130px; 
    padding: 10px;
}
#cont1 li{
    list-style: none;
}
#cib{
    background-color: black; 
    color: blanchedalmond;
    width: 150px;
}