.cuadrado{
    width: 100px;
    height: 100px;
    background-color: red;
    margin-left: 20px;
}

.rombo{
    width: 100px;
    height: 100px;
    background-color: red;
    margin-left: 20px;
    transform: rotate(45deg);
}

.paralelogramo{
    width: 200px;
    height: 100px;
    background-color: red;
    margin-left: 20px;
    transform: skew(20deg)
}

.triangulo{
    width: 0px;
    height: 0px;
    margin-left: 30px;
    border-left: 50px solid red;
    border-top: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid red;
    transform: rotate(135deg);
}
/*border-left: 50px solid brown;
border-top: 50px solid blue;
border-right: 50px solid yellow;
border-bottom: 50px solid green;*/

.circulo1{
    width: 100px;
    height: 100px;
    background-color: red;
    margin-left: 20px;
    border-radius: 50%;
}

.circulo2{
    width: 0px;
    height: 0px;
    margin-left: 20px;
    border-radius: 50%;
    border-left: 50px solid brown;
    border-top: 50px solid blue;
    border-right: 50px solid yellow;
    border-bottom: 50px solid green;
}

.diamante{
    width: 100px;
    height: 100px;
    background-color: red;
    margin-left: 20px;
    clip-path: polygon(25% 0, 75% 0, 100% 25%,50% 100%, 0 25%);
}
