*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    grid-area: my-header;
    background-color:  rgb(0, 158, 179);
    
}
.foto{
    width:"150px";
    height:"170px"
}
section h3{
    margin-top: 0px;
    padding: 0px 10px;
}
.tamaño{
    margin-top: 0px;
}
.tamaño h4{
    padding: 0px 10px;
}
.contenedor{
    width: 98%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.grid {

    display: grid;
    margin: 0px auto;
    max-width: 100%;
    min-height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 10% 1fr 40% 1fr 10% 90%;
    grid-template-areas: 
    "my-header" 
    "my-nav" "my-section" "my-aside"
    "my-footer";
}
aside {
    grid-area: my-aside;
    background-color: rgb(104, 245, 255);
    
}

.menu{
    background-color: rgb(0, 158, 179);
}

section {
    grid-area: my-section;
    background-color: rgb(255, 255, 255);
   
}

footer {
    grid-area: my-footer;
    background-color: rgb(0, 158, 179);     
}
.menu a{
    display: block;
    height: 40px;
    padding: 2px;
    margin: 2px;
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
}
#imagen-noticia{
    padding: 10px;
    float: left;
    margin: 20px;
    width:150px; 
    height:100px;  

}
.footer{
    height: 80%;
}
.footer-yo{
    width: 100px; 
    margin-left: 30px; 
    margin-top: 15px;
}
.noticia-texto{
    padding: 30px;
    text-align: justify;
}

.cards{
    display: flex;
    justify-content: space-evenly;
}

.titulo {
    font-family: Arial;
    margin-left: 200px;
    margin-right: 260px;
    margin-top: -124px;
    margin-bottom: 0px;
    color: black;
    font-size: 20px;
}

.subtitulo {
    font-family: Arial;
    margin-left: 750px;
    margin-right: 160px;
    margin-top: 8px;
    margin-bottom: 0px;
    color: black;
    font-size: 20px;
}

.iniciarSesion {
    font-family: Arial;
    margin-left: 1100px;
    margin-right: 20px;
    margin-top: -110px;
    margin-bottom: 0px;
    color: black;
    font-size: 14px;

}

.cards .card{
    background: rgb(0, 158, 179);
    display: flex;
    width: 250px;
    height: 150px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: black;
}
.contenido-texto-card li a{
    color:black;
}
.cards .card > .contenido-texto-card p{
    font-weight: 400px;
    padding-top: 5px;
}

.botones:hover{
    background-color: blueviolet;
    color: black;
}

.Info{
    float: right;
    position: relative;
    bottom: -15px;
    right: 940px;
    font-size: 15px;
    font-family: Verdana
}

.Siguenos{
    float: right;
    position: relative;
    bottom: -15px;
    right: 600px;
    font-size: 15px;
    font-family: Verdana
}

.Enlace{
    float: right;
    position: relative;
    bottom: -15px;
    right: 300px;
    font-size: 15px;
    font-family: Verdana
}

.Menu{
    float: right;
    position: relative;
    bottom: -15px;
    right: 40px;
    font-size: 15px;
    font-family: Verdana
}
.webMaster{
    background-color: black; 
    height: 20%;
}
.webMaster h1{
    color: white; 
    text-align: center; 
    font-size: 20px;
}
@media(min-width:600px) and (max-width:1000px){
    .grid{
        grid-template-columns: 20% 65% 25%;
        grid-template-rows: 27.7%  55% 25%;
        grid-template-areas: 
        "my-nav my-header my-header" 
        "my-section my-section my-aside"
        "my-footer my-footer  my-footer";
    }
}
@media(min-width:1001px){
    .grid {
    grid-template-columns: 10% 1fr 25%;
    grid-template-rows: 24%  1fr 25% ;
    grid-template-areas: 
    "my-nav my-header my-header" 
    "my-section my-section my-aside"
     "my-footer my-footer my-footer";
    }
}

