h1{
    text-align: center;
    background-color: red;
    height: 60px;
    color: white;
    padding: 20px;
    font-size: 300%;
}

.navegation{
    width: 100%;
    margin: 30px auto;
    background-color: gray;
}
.navegation ul{
    list-style: none;
}
.menu > li{
    position: relative;
    display: inline-block;
}
.menu > li > a{
    display: block;
    padding: 15px 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;

}

.menu li a:hover{
    color:black;
    transition: all.3s;
}

header{
    box-sizing: border-box; 
    margin: -25px -6px; 
    padding: 6px;

}
h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
}
#caja3 h4{
    margin-top: -8px;
    font-size: 20px;
}

#caja3 p{
    text-align: justify;
    padding: 10px;
}
#caja4{
    float: right;
    padding: 10px;
}

#caja5{
    background-color: red;
    float: right;
    color: white;
    padding: 5px;
    text-align: center;
}
