
@import url("https://use.typekit.net/syd3gaf.css");
header .textos-header{
    display: flex;
    height: 160px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.textos-header h1{
    color: gray;
    text-align: center;
    font-size: 25px;
    margin-top: -320px;
    margin-left: 100px;
    font-family: cooper-black-std, serif;
    }
.textos-header h2{
    color: red;
    text-align: center;
    font-size: 15px;
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
.menu li{
    list-style: none;
}

.menu li a{
    text-decoration: none;
}

.grid{
    display: grid;
    margin: 0px auto;
    max-width: 100%;
    min-height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 10% 12% 1fr 24% 5% ;
    grid-template-areas: 
    "my-header" 
    "my-nav" "my-section" "my-aside"
    "my-footer";
}

.menu a{
    display: block;
    padding: 2px;
    margin: 2px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    height: 20px;
    margin-top: 8px;
}

header {
    grid-area: my-header;
    background-color: rgb(255, 255, 255);
}

nav {
    grid-area: my-nav;
    background-color: rgb(111, 116, 126);
}


aside {
    grid-area: my-aside;
    background-color: darkmagenta;
}

section {
    grid-area: my-section;
    background-color: rgb(172, 142, 194);
}

footer {
    grid-area: my-footer;
    background-color: darkorchid;
}

.texto-vet{
    padding: 10px;
    text-align: justify;
}

.tamaño{
    padding: 10px;
}
.imagen-texto{
    padding: 5px;
    float: left;
    margin: 10px;
    width:40px; 
    height:40px;  
}

.textos-header h2{
    font-size: 20px;
    margin-top: -15px;
}
.textos-header h1{
    font-family: 14px;
}
.tamaño p{
    font-size: 15px;
}
.tamaño h4{
    font-size: 18px ;
}
.imagen{
    height:100px ;
    width: 100px;
    margin-top: 20px;
} 
.textos-header{
    margin-top: 40px;
}
.lista_ofre li, .lista_ofre h3{
    display: block;
    padding: 2px;
    margin: 2px;
    color: white;
    text-align: center;
    font-size: 12px;
    height: 20px;
    list-style:circle;
    margin-top: 10px;
}
.footer-texto{
    font-size: 12px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.contenido{
    border: 14px solid rgb(133, 17, 161);
}
 @media(min-width:600px) and (max-width:1000px){
    .grid{
        grid-template-columns: 30% 70%;
        grid-template-rows: 150px 200px 1fr 100px;
        grid-template-areas: 
        "my-header my-header" 
        "my-nav my-nav" "my-aside my-section "
        "my-footer my-footer";
    }
    .textos-header h2{
        font-size: 30px;
    }
    .textos-header h1{
        font-size: 35px;
    }
    .imagen{
        width: 100px;
        margin-left: 40px;
    }
    .textos-header{
        margin-top: 40px;
    }
    .tamaño p{
        font-size: 15px;
    }
    .tamaño h4{
        font-size: 20px ;
    }
} 

@media(min-width:1001px){
    .grid {
        grid-template-columns: 20% 1fr 20%;
        grid-template-rows: 20% 1fr 10%;
        grid-template-areas: 
        "my-header my-header my-header" 
        "my-nav my-section  my-aside"
        "my-footer my-footer my-footer";
    }
    .textos-header h1{
        font-size:50px;
    }

    .textos-header h2{
        font-size: 30px;
        margin-bottom: 0;
        margin-top: 7px;
        letter-spacing: 0.1em;
    }
    .imagen{
        margin-top: 10px;
        margin-left: 100px;
        width: 200px;
        height: 200px;
    }
    .menu{
        margin-top: 80px;
    }

    .texto-vet{
        padding: 20px;
        text-align: justify;
    }

    .tamaño{
        padding: 20px;
    }
    
    .imagen-texto{
        padding: 5px;
        float: left;
        margin: 10px;
        width:80px; 
        height:80px;  
    }
    .contenido{
        padding: 10px;
    }
    .menu a{
        font-size: 20px;
        height: 40px; 
    }

    .textos-header{
        margin-top: -30px;
    }

    .tamaño p{
        font-size: 15px;
    }
    .tamaño h4{
        font-size: 20px ;
    }
    .lista_ofre li, .lista_ofre h3{
        height: 40px;
        color: white;
        font-size: 20px;
        margin-top: 20px;
    }
    .footer-texto{
        font-size: 16px;
    }
}
