#form-register {
    display: block;
    width: 400px;
    background: #ffffff;
    padding: 30px;
    margin: auto;
    margin-top: 60px;
    border-radius: 4px;
    font-family:'Times New Roman', Times, serif;
    box-shadow: 7px 13px 37px rgb(226, 58, 58);
  }

input{
    display: block;
    margin: 5px;
}