/* PseudoElementos */
p::first-letter{
    font-size: 2rem;
}

div:hover{
    background-color: yellow;
}

a:hover{
    color: red;
}

a:focus{
    /*solo para los selectores <a> */
    color: green;
}

a:active{
    /*solo para los selectores <a> */
    color: hotpink;
}

